ul {
  list-style-type: none !important;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}
.center{   
    text-align: center!important;
    margin: auto!important; 
    width: 80%!important;
    padding: 10px!important;
       
  }
.left{
    width: 80%;
    margin:auto;
    }
.form {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 1.25rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  
}
.label{
    font-family: 'Lora', 'Times New Roman', serif;
  font-size: 1.25rem;
  color: #495057;
  background-color: #fff;

}

.bold{
	font-weight: bold !important;
}

table {
    border-collapse: collapse !important;
    width: 100% !important;
    
}

th, td {
    padding: 8px !important;
    text-align: left !important;
    border: 1px solid #ddd;
    padding-right: 10px !important;
}

tr:hover {
	background-color:#f5f5f5 !important;
}

.center1{
	text-align: center !important;
}

.form1 {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 2rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  
}

.disabled { 
  background-color: transparent !important;
}

@media (min-device-width : 320px) and (max-device-width : 576px){
  h2{
      font-size: 1.5rem !important;
    }
  h3{
      font-size: 1.5rem !important;
  }
  .center{
    width: 100% !important;
  }
}